* {
  padding: none;
  margin: none;
  /* background-color: black; */
}

#main-grid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-color: white; */
  background-color: black;
}

#rows_parent {
  flex-direction: column;
  width: auto;
}

.row {
  display: flex;
  flex: 0.1;
}

.cell {
  flex: 1;
  cursor: pointer;
  margin: 3px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: 2px solid rgba(0, 255, 255, 0.329);
  transition: transform 0.5s cubic-bezier(0.075, 0.82, 0.165, 1),
    border 0.2s ease-in-out,
    background-color 0.5s cubic-bezier(0.23, 1, 0.32, 1);
  height: 30px;
  width: 30px;
}

.cell:hover {
  transform: scale(1.2);
  border: 2px solid rgba(0, 255, 255, 1);
  background-color: cyan;
}

.cell p {
  pointer-events: none;
  font-size: 10px;
  color: white;
  background-color: transparent;

  transition: color 0.4s ease-in-out;
}

.cell:hover p {
  color: black;
}

.W {
  background-color: blue;
}

.S {
  background-color: rgb(9, 224, 9);
}

.E {
  background-color: rgb(225, 14, 14);
}

.Y {
  background-color: yellow;
}
